.employee-section {
  margin: 0.5rem;
  padding: 1rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.client-dropdown {
  margin-top: 1rem;
}

.form-field {
  width: 20rem;
}

.table-container {
  max-height: 300px;
  width: 100rem;
  overflow: auto;
  // border: 1px solid;
}
